.greeting {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.greeting-button {
    border: 2px solid white;
    box-sizing: border-box;
    width: 125px;
    height: 38px;
    color: white;
    border-radius: 26.5025px;
    margin: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .greeting-button:hover {
    color: white;
    background-color: #77A6F7;
    border: 2px solid #77A6F7;
  }