.reddit-header {
    margin-top: 10px;
}

#header {
    display: inline;
}

#hr {
    margin: 0;
    width: 99%;
}

#search-icon {
    font-size: 1.4em;
    cursor: pointer;
    margin-bottom: 5px;
    float: right;
}

#search-icon:hover {
    color: #77A6F7;
}