.weather-container {
    width: 100%;
}

.weather-form{
    position: relative;
    width: 60%;
    top: 35%;
    left: 20%;
    padding: 0;
    text-align: center;
}

#weather-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
}

#weather-input{
    appearance: none;
    background-color: rgba(255,255,255,0.2);
    outline: 0;
    width: 65%;
    left: 0;
    border-radius: 30px;
    padding: 6px 10px;
    margin: 0 auto 0 auto;
    font-size: 1em;
    transition-duration: 0.25s;
    font-weight: 300;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#weather-button-wrapper {
    position: absolute;
    background: none;
    padding: 0;
    border: none;
    width: 0;
    margin: 10px 0px 15px 13px;
    right: 12.5%;
}

#weather-prompt {
    font-size: .75em;
}

.weather-display {
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
}

#weather-heading{
    display: flex;
    flex-direction: row;
}
#weather-icon {
    font-size: 4em;
    margin: 0px;
}

#current-weather {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
    font-size: 1.45em;
}

#location-name {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    font-size: 1.5em;
}

#min-temp {
    display: inline;
    margin-right: 15px;
    font-size: .85em;
}

#max-temp {
    display: inline;
    font-size: .85em;
}