.home-container {
    margin-left: 200px;
    border: 1px solid white;
    height: 650px;
    width: 450px;
    margin-top: 5%;
    color: white;
    padding: 0;
}

.home-greeting {
    font-size: 1.75em;
    margin-top: 0;
}

.home-date {
    margin: 0;
}

.home-time {
    margin: 0;
}