.home-container {
    margin-left: 10%;
    height: 90vh;
    width: 85%;
    margin-top: 4%;
    color: white;
    padding: 0;
}

/* Home greeting styles */
.home-greeting {
    width: 300px;
}

#greeting {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 35px;   
}

.date {
    font-size: 1.15em;
    margin: 0;
}

.time {
    font-size: 2em;
    margin: 0;
}

/* Home menu styles */
.menu {
    color: white;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 4%;
    width: 150px;
}

.menu-icon {
    margin-right: 40px;
    cursor: pointer;
}

.menu-icon:hover {
    color: #77A6F7;
}

/* Home content styles */
.home-content-main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.content {
    width: 38%;
    height: 85%;
    margin-left: 1.5%;
    padding: 0;
    overflow: scroll;
}

.google-search {
    position: fixed;
    left: 55%;
    width: 40%;
}

.google-search-form {
    width: 95%;
    display: flex;
}

#google-search-input {
    appearance: none;
    background-color: rgba(255,255,255,0.2);
    border: 0.1px solid white;
    outline: 0;
    width: 100%;
    border-radius: 30px;
    padding: 6px 10px;
    margin: 0 auto 0 auto;
    font-size: 1em;
    transition-duration: 0.25s;
    font-weight: 300;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#google-button-wrapper {
    position: absolute;
    background: none;
    padding: 0;
    border: none;
    width: 0;
    margin: 10px 0px 0px 13px;
    right: 3.5%;
}

#google-search-icon:hover {
    color: #77A6F7;
}

.weather {
    display: flex;
    position: fixed;
    width: 45%;
    height: 200px;
    left: 50%;
    top: 50px;
}