
#header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
}

#hr {
    margin: 0;
}

#plus-icon {
    margin-left: 80%;
    font-size: 1.2em;
    cursor: pointer;
}

#plus-icon:hover {
    color: #77A6F7;
}



.todo-form {
    margin-top: 15px;
    
}

#todo-input {
    width: 380px;
    font-size: 1em;
}

#rodo-input:focus {
    padding: 13px 15px;
    background-color: rgba(255,255,255,0.9);
    color: black;
}