.app {
    display: flex;
    height: 100vh;
}

.navBar {
    height: 100%;
    width: 3%;
    left: 0;
    position: fixed;
    text-align: center;
}

#navbar-sub {
    position: fixed;
    top: 40%;
    text-align: center;
}

.nav-icons {
    position: fixed;
    color: white;
    font-size: 1.75em;
    cursor: pointer;
}

.nav-icons:hover {
    color: #77A6F7;
}

#home {
    top: 20px;
}

#movies {
    margin-left: 20px;
}

#news {
    margin-top: 100px;
    margin-left: 20px;
}

#exit {
    bottom: 20px;
}

